# Google Cloud
GCP_PROJECT_ID=project_id # Substituir pelo id real do seu projeto
GCP_DATASET_RAW=raw
GCP_DATASET_STAGING=staging
GCP_DATASET_MARTS=datamart
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/credentials/gcp-key.json

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow